@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

.active hr {
    @apply block;
  }

  * {
    font-family: 'Outfit', sans-serif;
  }

  ::-webkit-scrollbar {
    @apply  hidden;
  }

@media (max-width:740px) {
  .active p{
    @apply text-white bg-blue-600;
  }
}
